Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.4
click==6.2
fusepy==2.0.2
github3.py==0.9.4
itsdangerous==0.24
keyring==8.4.1
pbr==1.8.1
requests==2.9.1
rethinkdb==2.2.0.post4
six==1.10.0
stevedore==1.11.0
uritemplate.py==0.3.0
virtualenv==1.11.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.3
wsgiref==0.1.2
